# Game source code directories
Stationeers Orbital Update Live Code/
Assembly-CSharp/
AssetRipperFiles/
Stationeers/
ServerModsCurrent/
2025 Old Code/
Deep Combustion Update Code 2-24-26/

# Unity generated folders
**/Library/
**/Temp/
**/Logs/
**/UserSettings/

# Build outputs
**/release/
**/build/
**/bin/
**/obj/
